@model IEnumerable<SysPatrimonioo.Models.DbLocal>

@{
    ViewData["Title"] = "Index";
}

<h1>Local</h1>

<p>
    <a asp-action="Create"  class ="btn btn-primary" >Novo</a>
</p>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomelocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricaolocal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomelocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricaolocal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"  class ="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id"  class ="btn btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id"  class ="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
