@model SysPatrimonioo.Models.DtoDepartamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomedepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomedepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaodepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaodepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomelocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomelocal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index" class ="btn btn-light">Voltar</a>
</div>
